# Python Basics

- toc: true
- badges: False
- comments: true
- author: Sam Treacy
- categories: [python, basics]

## Data Types

### Numbers

In [25]:
1 + 1

2

In [26]:
3 * 3

9

In [27]:
1 / 2

0.5

In [28]:
2 ** 4

16

In [29]:
4 % 2

0

In [30]:
5 % 2

1

In [31]:
(2 + 3)  * (5 + 5)

50

## Variable Assignment

In [33]:
# Cannot start with a number or special character.
# Cannot include spaces. Use an '_' instead.

In [34]:
name_of_var = 2

In [35]:
x = 2
y = 3

z = x + y
z

5

## Strings

In [37]:
'single quotes work'

'single quotes work'

In [38]:
"double quotes work"

'double quotes work'

In [39]:
"wrap lot's of other quotes"

"wrap lot's of other quotes"

## Printing

In [40]:
x = 'hello'
x

'hello'

In [41]:
print(x)

hello

In [42]:
age = 40
name = 'Sam'

In [46]:
print('My name is' + name + 'and I am ' + str(age) + ' years old.')

My name isSamand I am 40 years old.

In [47]:
print('My name is {}, and I am {} years old'.format(name, age))

My name is Sam, and I am 40 years old

In [48]:
print('My name is {name}, and I am {num} years old'.format(num=age,name=name))

My name is Sam, and I am 40 years old

In [51]:
print(f'My name is {name} and I am {age} years old')

My name is Sam and I am 40 years old

## Lists

In [52]:
[1, 2, 3]

[1, 2, 3]

In [53]:
['hi', 1, [1,3]]

['hi', 1, [1, 3]]

In [58]:
my_list = ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [59]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [60]:
my_list[0]

'a'

In [61]:
my_list[1:]

['b', 'c', 'd']

In [62]:
my_list[:2]

['a', 'b']

In [64]:
my_list[0] = 'new value'
my_list

['new value', 'b', 'c', 'd']

In [67]:
nest = [1,2,3,[4,5,['target', 'food']]]

In [69]:
nest[3]

[4, 5, ['target', 'food']]

In [70]:
nest[3][1]

5

In [73]:
nest[3][2]

['target', 'food']

In [74]:
nest[3][2][0]

'target'

## Dictionaries

In [77]:
d = {'key1':'item1', 'key2':'item2'}
d

{'key1': 'item1', 'key2': 'item2'}

In [78]:
d['key1']

'item1'

In [84]:
d.keys()

dict_keys(['key1', 'key2'])

In [82]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

## Booleans

In [86]:
True

True

In [87]:
False

False

In [88]:
True + True

2

In [89]:
True + False

1

In [90]:
## Tuples

In [91]:
tup = (1,2,3)
tup

(1, 2, 3)

In [92]:
tup[0]

1

In [96]:
# not possible to change a tuple value as they are immutable.
tup[0] = 'New'

TypeError: 'tuple' object does not support item assignment

## Sets

In [98]:
{1,2,3}

{1, 2, 3}

In [99]:
{1,1,2,3,4,5,1,2,3,4,2,3,4,5,4,2,1,1,2,3,4,5,6,5,4}

{1, 2, 3, 4, 5, 6}

## Comparison Operators

In [100]:
1 > 2

False

In [101]:
1 < 2

True

In [102]:
1 >= 2

False

In [103]:
1 <= 2

True

In [104]:
1 == 1

True

In [106]:
'hi' == 'bye'

False

In [107]:
'hi' == 'hi'

True

## Logic Operators

In [108]:
(1 > 2) and (2 < 3)

False

In [109]:
(1 > 2) or (2 < 3)

True

In [112]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if, elif, else Statements

In [114]:
if 1 < 2:
    print('Yep!')

Yep!

In [116]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [117]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [118]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('last')

middle

## for Loops

In [120]:
seq = [1, 2, 3, 4, 5]

In [122]:
for item in seq:
    print(item)

1
2
3
4
5

In [123]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [125]:
for jelly in seq:
    print(jelly ** jelly)

1
4
27
256
3125

## while Loops

In [127]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [129]:
range(5)

range(0, 5)

In [131]:
list(range(5))

[0, 1, 2, 3, 4]

In [130]:
for i in range(5):
    print(i)

0
1
2
3
4

## list comprehension

In [134]:
x = [1,2,3,4]

In [135]:
out = []
for item in x:
    out.append(item ** 2)
print(out)

[1, 4, 9, 16]

In [136]:
out = [item ** 2 for item in x]
out

[1, 4, 9, 16]

## Functions

In [138]:
def my_func(param='default'):
    '''
    Dostring to describe function goes here.
    '''
    print(param)

In [139]:
my_func

In [141]:
my_func(5)

5

In [142]:
my_func(param='value')

value

In [144]:
def square(x):
    return x ** 2

In [145]:
square(4)

16

## lambda functions

In [146]:
def times2(var):
    return var * 2

In [147]:
times2(4)

8

In [148]:
lambda var: var * 2

In [164]:
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data)

In [167]:
iris.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [174]:
iris[0].apply(lambda x: x >= 7 )

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: 0, Length: 150, dtype: bool

In [173]:
iris[iris[0].apply(lambda x: x >= 7)]

       0    1    2    3
50   7.0  3.2  4.7  1.4
102  7.1  3.0  5.9  2.1
105  7.6  3.0  6.6  2.1
107  7.3  2.9  6.3  1.8
109  7.2  3.6  6.1  2.5
117  7.7  3.8  6.7  2.2
118  7.7  2.6  6.9  2.3
122  7.7  2.8  6.7  2.0
125  7.2  3.2  6.0  1.8
129  7.2  3.0  5.8  1.6
130  7.4  2.8  6.1  1.9
131  7.9  3.8  6.4  2.0
135  7.7  3.0  6.1  2.3

## Map and Filter

In [175]:
seq = [1,2,3,4,5]

In [182]:
def times10(var):
    return var * 10

In [183]:
list(map(times10, seq))

[10, 20, 30, 40, 50]

In [184]:
list(map(lambda x: x * 10, seq))

[10, 20, 30, 40, 50]

In [186]:
list(filter(lambda item: item%2 == 0, seq))

[2, 4]

## Methods

In [188]:
phrase = 'Better the Devil you know   '
phrase

'Better the Devil you know   '

In [189]:
phrase.lower()

'better the devil you know   '

In [190]:
phrase.strip()

'Better the Devil you know'

In [191]:
phrase.upper()

'BETTER THE DEVIL YOU KNOW   '

In [192]:
phrase.split()

['Better', 'the', 'Devil', 'you', 'know']

In [194]:
tweet = "I can't believe it! #won #happy #lottery #megamillions"
tweet

"I can't believe it! #won #happy #lottery #megamillions"

In [195]:
tweet.split('#')

["I can't believe it! ", 'won ', 'happy ', 'lottery ', 'megamillions']

In [196]:
tweet.split('#')[3]

'lottery '

In [197]:
lst = [1,2,3,4]

In [198]:
lst.pop()

4

In [199]:
lst

[1, 2, 3]

In [200]:
'x' in [1,2,3]

False

In [201]:
'x' in ['x', 'y', 'z']

True